@main("Guess The Headline") {

<div class="container">
    <div class="hero-unit" style="margin-top: 50px">
        <h1 id='headline' data-publisher="GU">...</h1>
        <div style="margin-top: 25px; text-align: center">
            <button class="btn btn-primary" data-publisher="GU">Guardian</button>
            <button class="btn btn-danger" data-publisher="MO">MailOnline</button>
            <button class="btn btn-success" data-publisher="FT">FT</button>
            <button class="btn" data-publisher="WP">Wordpress.com</button>
            <button class="btn btn-warning" data-publisher="NYT">NYTimes</button>
        </div>
    </div>
    <div id="fail" class="alert" style="display: none">
        <button class="close" data-dismiss="alert">×</button>
        <strong>Wrong!</strong> Nope, it actually came from <span id="title">Sheep Sheerers Weekly</span>
    </div>
    <div id="success" class="alert alert-success" style="display: none">
        Yes you are right, it came from <span id="title">Sheep Sheerers Weekly</span>
    </div>
    <div class="hero-unit">
        <div class="push4 span4"><p>You have <span style="font-size: 26pt" id="answer">0</span> correct out of <span style="font-size: 26pt" id="total">0</span></div>
    </div>
    <script>
        var sources = {
            "GU": "The Guardian",
            "NYT": "The New York Times",
            "MO": "The Daily Fail",
            "WP": "Wordpress.com",
            "FT": "The Financial Times"
        }
        $('.btn').click(function() {
            var pub = $(this).data("publisher");
            console.log(pub);
            var answer = $('#headline').data('publisher');
            if (answer == pub) {
                $('#answer').text(Number($('#answer').text())+1);
                $('#total').text(Number($('#total').text())+1);
                $('#success').show("Blind");
                $('#fail').hide("Blind");
                $('#success span').text(sources[answer]);
                newHeads();
            } else {
                $('#total').text(Number($('#total').text())+1);

                $('#success').hide("Blind");
                $('#fail').show("Blind");
                $('#fail span').text(sources[answer]);
                newHeads();
            }
        })

    </script>
</div>
}

<script>

var stories = [];
$.getJSON("/stories", function(results) {
    stories = results;

    newHeads();
});

function newHeads() {
    var storyCount = stories.length;
    var s = stories[Math.floor(Math.random() * storyCount)];

    var foo = $("#headline");
    foo.data("publisher", s.source);
    foo.text(s.headline);
}

</script>
