@main("Guess The Headline") {

<div class="container">
    <div class="hero-unit" style="margin-top: 50px">
        <h1 id='headline' data-publisher="GU">A long headline that might come from the mail</h1>
        <div style="margin-top: 25px; text-align: center">
            <button class="btn btn-primary" data-publisher="GU">Guardian</button>
            <button class="btn btn-danger" data-publisher="MO">MailOnline</button>
            <button class="btn btn-success" data-publisher="FT">FT</button>
            <button class="btn" data-publisher="WP">Wordpress.com</button>
            <button class="btn btn-warning" data-publisher="NYT">NYTimes</button>
        </div>
    </div>
    <div id="fail" class="alert" style="display: none">
        <button class="close" data-dismiss="alert">×</button>
        <strong>Wrong!</strong> Nope, it actually came from <span id="title">Sheep Sheerers Weekly</span>
    </div>
    <div id="success" class="alert alert-success" style="display: none">
        Yes you are right, it came from The Daily Planet
    </div>
    <div class="row">
        <div class="push4 span4"><p>You have <h2 id="answer">2</h2> correct</div>
    </div>
    <script>
        $('.btn').click(function() {
            var pub = $(this).data("publisher");
            console.log(pub);
            var answer = $('#headline').data('publisher');
            if (answer == pub) {
                $('#answer').text(Number($('#answer').text())+1);
                $('#success').show("Blind");
                $('#fail').hide("Blind");
            } else {
                $('#success').hide("Blind");
                $('#fail').show("Blind");
            }
        })

    </script>
</div>
}

<script>

var stories = [];
$.getJSON("/stories", function(results) {
    stories = results;

    newHeads();
});

function newHeads() {
    var storyCount = stories.length;
    var s = stories[Math.floor(Math.random() * storyCount)];

    var foo = $("#headline");
    foo.data("publisher", s.source);
    foo.text(s.headline);
}

</script>
