@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/d3.v2.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/tim-lite.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/cloud.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery-ui-1.8.20.custom.min.js")"></script>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery-ui-1.8.20.custom.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/my-first-stylesheet.css")">

        <script src="http://static.simile.mit.edu/timeline/api-2.3.0/timeline-api.js?bundle=true" type="text/javascript"></script>

    </head>
    <body>
        @content
    </body>
</html>
